{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Styles -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    </head>
    <body>
        <div class="contact">
            <img src="{% static 'images/whatsapp_icon.png' %}" width="50" height="50" alt=""> (17) 99736-7543
            <img src="{% static 'images/mailbox_icon.png' %}" width="50" height="50" alt=""> contato@stellarvape.com.br
        </div>

        <div class="user-panel">
            {% if user.is_authenticated %}
                {% if user.gender == 'M' %}
                    <img src="{% static 'images/male_profile_icon.png' %}" width="50" height="50" alt=""> Minha conta
                {% endif %}

                {% if user.gender == 'F' %}
                    <img src="{% static 'images/female_profile_icon.png' %}" width="50" height="50" alt=""> Minha Conta
                {% endif %}
            {% endif %}

            {% if user.is_authenticated == False %}
                <img src="{% static 'images/create_profile_icon.png' %}" width="50" height="50" alt=""> Registrar
            {% endif %}

            <img src="{% static 'images/cart_icon.png' %}" width="50" height="50" alt=""> Carrinho
        </div>

        {% block content %}
        {% endblock content %}
    </body>
</html>

"""
    GENDER_CHOICES = (
        ('M', 'Male'),
        ('F', 'Female'),
    )
    gender = models.CharField(max_length=1, choices=GENDER_CHOICES)
"""