{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- Styles -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    </head>
    <body>
        <div class="header">
            <span class="contact">
                <img src="{% static 'images/whatsapp_icon.png' %}" width="50" height="50" alt=""> (17) 99736-7543

                <!-- Spacing between the contact information (Whatsapp and email) -->
                <span style="display:inline-block; width: 30px;"></span>

                <img src="{% static 'images/mailbox_icon.png' %}" width="50" height="50" alt=""> contato@stellarvape.com.br
            </span>

            <span class="user-panel">
                {% if user.is_authenticated %}
                    {% if user.gender == 'M' %}
                        <figure>
                            <a href="">
                                <img src="{% static 'images/male_profile_icon.png' %}" width="50" height="50" alt="Minha conta">
                                <figcaption>Minha Conta</figcaption>
                            </a>
                        </figure>
                    {% endif %}

                    {% if user.gender == 'F' %}
                        <figure>
                            <a href="">
                                <img src="{% static 'images/female_profile_icon.png' %}" width="50" height="50" alt="Minha conta">
                                <figcaption>Minha Conta</figcaption>
                            </a>
                        </figure>
                    {% endif %}

                {% else %}
                    <figure>
                        <a href="">
                            <img src="{% static 'images/create_profile_icon.png' %}" width="50" height="50" alt="Registrar">
                            <figcaption>Registrar</figcaption>
                        </a>
                    </figure>
                {% endif %}

                <!-- Spacing between the contact information (Whatsapp and email) -->
                <span style="display:inline-block; width: 30px;"></span>

                <figure>
                    <a href="">
                        <img src="{% static 'images/cart_icon.png' %}" width="50" height="50" alt="Carrinho">
                        <figcaption>Carrinho</figcaption>
                    </a>
                </figure>
            </span>
        </div>

        {% block content %}
        {% endblock content %}

    </body>
</html>

