h1 a, h2 a {
    color: #102961;
    font-family: 'Lobster';
    padding-left: 15px;
    font-size: 120px;
}

.contact {
    margin-top: 0;
    padding: 7px 7px 7px 7px;
    font-family: 'Droid Serif';

}