h1 a, h2 a {
    color: #102961;
    font-family: 'Lobster';
    padding-left: 15px;
    font-size: 120px;
}

.contact {
    padding: 7px 7px     7px 50px;
    font-family: 'Droid Serif';
}

.user-panel {
    padding: 12px 7px 7px 1100px;
    width:10px;
    font-size:15px;
    font-family: 'Droid Serif'
}

figure {
    display: table;
    width: 1px; /* This can be any width, so long as it's narrower than any image */
}

figcaption {
    display: table-caption;
    caption-side: bottom;
}

